@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	/*ShadCN root */
  :root {
   /* --background: 0 0% 100%;*/
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 217.2 32.6% 17.5%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
}
/* CUSTOM ROOT */
:root {
	--max-width: 1100px;
	--font-family: "Noto Sans", sans-serif;

	--white: rgb(255, 255, 255);
	--white-logo: rgb(255, 255, 255);
	--black: rgb(0, 0, 0);

	--color-main: #0043ff;
	--color-light: #9c64ba;
	--color-light2: #6900c5;
	--color-dark:  #4e0f8c;
	--color-blue: #0f4c75;
	--color-green: rgb(0, 128, 0);
	--color-red: rgb(201, 5, 5);

	--font-weight: 850;
	--shadow: 0px;
	--text-shadow:  4px 4px 3px rgb(0, 0, 0);
	--border-radius: 12px;
	--border-shadow: 1px 10px 15px var(--color-main);
	--hover-nav-items: rgb(255, 255, 255);
	--memory-border-active: var(--color-green);

	--gradient: linear-gradient(132deg, var(--white) 0%, var(--color-main) 100%);

	--btn-background: var(--color-main);
	--btn-text-color: var(--black);
}

/*if browser´s theme is dark */
/*
@media (prefers-color-scheme: dark) {
	:root {
		--white: var(--black);
		--shadow: 0px 3px 10px rgba(26, 25, 25, 0.97);
		--text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.97);
		--hover-nav-items: var(--white);
	}
}
*/

/* Theme button light/dark switch */
[data-theme="violet"] {
	--color-main: #881df2;
}
[data-theme="green"] {
	--color-main: #10b310;
	--memory-border-active: blue;
}
[data-theme="blue"] {
	--color-main: #0640fb;
}
[data-theme="pink"] {
	--color-main: #da06fb;
}

[data-theme="yellow"] {
	--color-main: #d4c918;
	--memory-border-active: blue;
	--text-shadow: 4px 4px 3px rgb(0, 0, 0),
					0px 0px 3px rgb(0, 0, 0);
}
[data-theme="light"]{
	--black: white;
	--hover-nav-items: black;
	--btn-background: var(--white);
	--btn-text-color: var(--color-main);
	--white-logo: #cac3c3;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-family);
}
html{
	scroll-behavior: smooth !important;
}
html,
body {
	margin: 0 auto;
	width: 100vw;
	max-width: 1280px;
	overflow-x: hidden;
	color: var(--color-main);
}

body,
.main-bg,
.mobile__Nav {
	background: var(--black) !important;
}

.h-90-dvh{height: 90dvh;}
.h-100-dvh{height: 100dvh;}


.__text_color { color: var(--color-main);}
.__text_color2 { color: var(--btn-text-color);}
.__border_color { border-color: var(--color-main); }
.__border_hover:hover{ box-shadow: var(--border-shadow); }
.__box_shadow_color { box-shadow: var(--border-shadow);}
.__background { background: var(--black); }
.__background2 { background: var(--btn-background); }
.__gradient { background: var(--gradient); }

.__text_shadow { text-shadow: var(--text-shadow); }
.__button_color { background: var(--gradient); }
.__memory_border_green, .__memory_border_click:focus { border-color: var(--memory-border-active) }
.__oxford_card_background { background: var(--black); }
strong { font-weight: var(--font-weight)}
/* PHRASAL */
.__green_focus:focus { background: var(--memory-border-active); }
.__red_focus:focus { background: var(--color-red); }
.__bg_green{background: var(--color-green);}
.__bg_red{background: var(--color-red);}
/* ------------------
RESPONSIVE SECTION
----------------------*/

.__responsiveSection{
	height: calc(100dvh - 70px);
}
@media (max-width: 768px) {
	.__responsiveSection{
		height: calc(100dvh - 50px);
	}
}
@media (max-height: 430px) {
	.__logo_main{padding: 5px 0px; margin-top: -10px;}
	.__small_screen_h-auto{
		height: auto;
	}
.__nav_li, .__accordion{font-size: 15px !important;}
.__responsiveSection div{font-size: 100%; max-width: 300px;}
.__responsiveSection section{max-width: 300px;}
}

/* ------------------
Animations
--------------------- */

details[open] summary ~ *,
.starsDiv > *,
nav {
	animation: animate 1s ease-in-out;
}

@keyframes animate {
	0% {
		opacity: 0;
		margin-left: -20px;

	}
	100% {
		opacity: 1;
		margin-left: 0px;
		filter: saturate(4);
	}
}

.ulAnimation li{
	filter: saturate(2);
}

.ulAnimation li:nth-child(1) {
	transition-delay: 0.2s;
}

.ulAnimation li:nth-child(2) {
	transition-delay: 0.4s;
}

.ulAnimation li:nth-child(3) {
	transition-delay: 0.6s;
}

.ulAnimation li:nth-child(4) {
	transition-delay: 0.8s;
}

.ulAnimation li:nth-child(5) {
	transition-delay: 1s;
}

.ulAnimation li:nth-child(6) {
	transition-delay: 1.2s;
}

.ulAnimation li:nth-child(7) {
	transition-delay: 1.4s;
}

.ulAnimation li:nth-child(8) {
	transition-delay: 1.6s;
}
